<section class="about section" id="about">
  <div class="about__background">
    <div class="container container--mobile">
      <span class="about__label">TRADITION AND LOVE</span>
      <h2 class="about__title">HOW IT'S MADE?</h2>
      <div class="about-wrapper">
        <picture class="about__picture">
          <!-- Desktop -->
          <source
            srcset="images/about-ds.png 1x, images/about-ds@2x.png 2x"
            media="(min-width: 1200px)"
            type="image/png"
          />
          <!-- Tablet -->
          <source
            srcset="images/about-tb.png 1x, images/about-tb@2x.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <!-- Mobile Phone -->
          <source srcset="images/about-mb@2x.png 2x" media="(max-width: 767px)" type="image/png" />
          <img class="about__image" src="images/about-mb.png" alt="" width="280" height="279" />
        </picture>
        <div class="about-txt-wrapper">
          <p class="about__description-first-part">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__description-second-part">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about__description-third-part">Aliquam erat volutpat. Aenean accumsan.</p>
          <button class="about__button" type="button">
            <span class="about__button-text">Read more</span>
            <svg class="about__button-icon" width="5" height="10">
              <use href="images/icons.svg#arrow"></use>
            </svg>
            <span class="milk"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
