<section class="section section-contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__card">
        <ul class="contacts__list">
          <li class="contacts__item">
            <span class="contacts__agency-type cafe">Cafe</span>
            <p class="contacts__agency-location">Chicago</p>
            <p class="contacts__agency-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__schedule">
                <p class="contacts__work-day">Monday - Friday</p>
                <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__schedule">
                <p class="contacts__work-day">Saturday - Sunday</p>
                <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__link-item">
                <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li class="contacts__link-item">
                <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <ul class="contacts__list">
          <li class="contacts__item">
            <span class="contacts__agency-type food-truck">Food truck</span>
            <p class="contacts__agency-location">Los Angeles</p>
            <p class="contacts__agency-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__schedule">
                <p class="contacts__work-day">Monday - Friday</p>
                <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__schedule">
                <p class="contacts__work-day">Saturday - Sunday</p>
                <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__link-item">
                <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li class="contacts__link-item">
                <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <ul class="contacts__list">
          <li class="contacts__item">
            <span class="contacts__agency-type cafe">Cafe</span>
            <p class="contacts__agency-location">New York</p>
            <p class="contacts__agency-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__schedule">
                <p class="contacts__work-day">Monday - Friday</p>
                <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__schedule">
                <p class="contacts__work-day">Saturday - Sunday</p>
                <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__link-item">
                <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li class="contacts__link-item">
                <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn-wrapper">
        <a
          class="contacts-button location"
          href="https://goo.gl/maps/7EMDVZeU2M9WdXLM7"
          target="_blank"
          rel="noopener noferrer"
          title="Link on Google Maps"
        >
          Our Locations
          <svg class="contacts__arrow-icon arrow-icon--locations" width="5px" height="10px">
            <use href="images/icons.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__btn-wrapper">
        <button class="contacts-button franchise" type="button" data-franchise-open>
          Franchise
          <svg class="contacts__arrow-icon arrow-icon--franchise" width="5px" height="10px">
            <use href="images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <!-- Franchise MODAL -->
  <div class="backdrope is-hidden" data-modal>
    <div class="franchise-modal__wrapper">
      <button class="button-close--franchise" type="button" data-franchise-close>
        <svg class="icon-close--franchise" width="20" height="20">
          <use href="images/icons.svg#close-franchise"></use>
        </svg>
      </button>
      <div class="franchise-form__thumb">
        <h3 class="franchise-form__title">Leave an Application</h3>
        <form class="franchise-form">
          <div class="franchise-form__field">
            <p>Name</p>
            <label>
              <input
                class="franchise-form__input"
                name="user-name"
                type="text"
                required
                autofocus
              />
            </label>
          </div>
          <div class="franchise-form__field">
            <p>Mobile</p>
            <label>
              <input class="franchise-form__input" name="user-tel" type="tel" required />
            </label>
          </div>
          <div class="franchise-form__field">
            <p>Email</p>
            <label>
              <input class="franchise-form__input" name="user-email" type="email" required />
            </label>
          </div>
          <div class="franchise-form__field comment-area">
            <p class="comment-label">Comment</p>
            <label>
              <textarea class="franchise-form__comment" name="comment" rows="3"></textarea>
            </label>
          </div>
          <div>
            <label class="conditions">
              <input class="conditions__checkbox visually-hidden" type="checkbox" required />
              <span class="conditions__check">
                <svg class="icon-check" width="16px" height="15px" fill="transparent">
                  <use href="images/icons.svg#check"></use>
                </svg>
              </span>
              <span class="conditions-agree">
                I agree with the newsletter and accept
                <a class="conditions__link terms" href=""><b>Agreement conditions</b></a>
              </span>
            </label>
          </div>
        </form>
        <button class="send-btn" type="submit">SEND</button>
      </div>
      <ol class="usefull-links">
        <li class="usefull-links__item">
          <div class="ice-cream-wrapper cream-color">
            <svg class="ice-cream-icon" width="18px" height="22px">
              <use href="images/icons.svg#ice-cream"></use>
            </svg>
          </div>
          <a class="terms terms-cream" href="#"><p>Franchise Terms</p></a>
        </li>
        <li class="usefull-links__item">
          <div class="ice-cream-wrapper coffee-color">
            <svg class="ice-cream-icon" width="18px" height="22px">
              <use href="images/icons.svg#ice-cream"></use>
            </svg>
          </div>
          <a class="terms terms-coffee" href="#"><p>Bonus program "Ice-creamoo~"</p></a>
        </li>
        <li class="usefull-links__item">
          <div class="ice-cream-wrapper milkshake-color">
            <svg class="ice-cream-icon" width="18px" height="22px">
              <use href="images/icons.svg#ice-cream"></use>
            </svg>
          </div>
          <a class="terms terms-milkshake" href="#"><p>Requirements for agents</p></a>
        </li>
      </ol>
    </div>
  </div>
</section>
