<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="footer__list">
        <li class="footer__item">
          <p class="footer__pretitle">homemade ice cream made</p>
        </li>
        <li class="footer__item">
          <p class="footer__title">with passion</p>
        </li>
      </ul>
      <div class="footer__thumb">
        <ul class="social">
          <li class="social__item">
            <a
              href="https://github.com/"
              class="socials__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="/images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://web.telegram.org/k/"
              class="socials__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="/images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              class="socials__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="/images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <span class="footer__subtitle"
          >Feel free to contact
          <a href="tel:+610383766284" class="footer__phone">+61 (0) 383 766 284</a></span
        >
      </div>
    </div>
  </div>
  <div class="text__list">
    <p class="text">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
