<section class="section" id="products">
  <div class="container products">
    <div class="products__header">
      <span>100% natural</span>
      <h2>products</h2>
    </div>
    <div class="products__container">
      <ul class="products__list">
        <li class="products__item cream">
          <div class="products__card cream-front">
            <h3 class="products__card-header">ice cream</h3>
            <p class="products__card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button aria-controls="modalProd-cream" aria-expanded="true" class="products__btn">
              <svg class="products__icons" width="10" height="10">
                <use href="./images/icons.svg#arrow-right2"></use>
              </svg>
            </button>
          </div>
          <div id="modalProd-cream" class="products__card cream-back">
            <p class="products__modal">
              Classic ice cream is made on the basis of milk, cream and butter. An unequivocal
              leader among amateurs cold dessert. Ice cream, which is the basis of hundreds of other
              desserts and drinks around the world.
            </p>
            <img src="./images/ice-cream-gif.gif" alt="cream" />
          </div>
        </li>
        <li class="products__item coffee">
          <div class="products__card coffee-front">
            <h3 class="products__card-header">ice coffee</h3>
            <p class="products__card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button aria-controls="modalProd-coffee" aria-expanded="true" class="products__btn">
              <svg class="products__icons" width="10" height="10">
                <use href="./images/icons.svg#arrow-right2"></use>
              </svg>
            </button>
          </div>
          <div id="modalProd-coffee" class="products__card coffee-back">
            <p class="products__modal">
              Ice coffee, coffee with ice, is familiar to most coffee lovers. It is prepared in many
              countries according to various recipes, and this gives a huge scope for creativity.
            </p>
            <img
              src="./images/ice-coffee-gif.gif"
              alt="coffee"
            />
          </div>
        </li>
        <li class="products__item milkshakes">
          <div class="products__card milkshakes-front">
            <h3 class="products__card-header">milkshakes</h3>
            <p class="products__card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button aria-controls="modalProd-milkshakes" aria-expanded="true" class="products__btn">
              <svg class="products__icons" width="10" height="10">
                <use href="./images/icons.svg#arrow-right2"></use>
              </svg>
            </button>
          </div>
          <div id="modalProd-milkshakes" class="products__card milkshakes-back">
            <p class="products__modal">
              A milkshake is a dessert drink based on milk and ice cream, one of the symbols of
              American cuisine. To give the cocktail a variety of flavors, a variety of syrups,
              fruits, berries, grated Oreo cookies, and so on are added to it.
            </p>
            <img src="./images/milk-shake-gif.gif" alt="milkshakes" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
