<section class="reviews section">
  <div class="container reviews__container">
    <div class="reviews__about-slick">
      <h2 class="visually-hidden">reviews</h2>
      <div class="single-item reviews__slick">
        <div>
          <img src="../src/images/slider-main@2x.png" alt="" width="85" height="85" />

          <div class="reviews__dsdcription">
            <svg class="reviews__img">
              <use href="../src\images\icons.svg#icon-untitled"></use>
            </svg>

            <p class="reviews__txt">
              "I scream. You scream. We all scream for ice cream." The best time for ice cream is
              always."
            </p>
          </div>
          <ol class="reviews__breadcrumb">
            <li class="reviews__item"></li>
            <li class="reviews__item"></li>
            <li class="reviews__item"></li>
          </ol>
          <p class="reviews__txt-info">Ice cream dream team, Ukraine</p>
        </div>
        <div>
          <img src="../src/images/slider-next@2x.png" alt="" width="85" height="85" />
          <div class="reviews__dsdcription">
            <svg class="reviews__img">
              <use href="../src\images\icons.svg#icon-untitled"></use>
            </svg>
            <p class="reviews__txt">
              "You can't buy happiness, but you can buy ice cream, and that is pretty much the same
              thing."
            </p>
          </div>
          <ol class="reviews__breadcrumb">
            <li class="reviews__item"></li>
            <li class="reviews__item"></li>
            <li class="reviews__item"></li>
          </ol>
          <p class="reviews__txt-info">Kira, New York City</p>
        </div>
        <div>
          <img src="../src/images/slider-next2@2x-1.png" alt="" width="85" height="85" />
          <div class="reviews__dsdcription">
            <svg class="reviews__img">
              <use href="../src\images\icons.svg#icon-untitled"></use>
            </svg>
            <p class="reviews__txt">
              "My love for ice cream emerged at an early age — and i am sure that it has never
              left!"
            </p>
          </div>
          <ol class="reviews__breadcrumb">
            <li class="reviews__item"></li>
            <li class="reviews__item"></li>
            <li class="reviews__item"></li>
          </ol>
          <p class="reviews__txt-info">Jennifer, Los Angeles</p>
        </div>
      </div>
    </div>
  </div>
</section>
